<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edu.vexxel</title>
    <link href="{{ url_for('static', path='css/output.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
</head>
<body>
<main>
    <nav class="bg-custom-red">
        <a href="/"
           class="inline-block p-4 text-custom-powder-light font-dancing-script text-2xl"
        >
            My parties
        </a>
    </nav>
    <main class="container p-5 m-auto">
        {% block content %}
        {% endblock %}
    </main>
</main>
</body>
</html>